* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
}

@font-face {
    src: url('./fonts/Roboto-Black.ttf');
    font-family: 'Roboto';
}

nav {
    width: 100%;
    height: 100px;
    background-color: #a577d4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    height: auto;
    width: 250px;
}

a img {
    height: 40px;
    
    
}

button {
    width: 40%;
    height: 30px;

}



.login {
    height: 40px;
    border-radius: 50%;
    align-items: right;
    padding: 0px 40px;
}

.lupa img {
    height: auto;
    width: 40px;
    background-color: #d0d3d9 ;
    display: flex;
    align-items: center;

}

.signin img {
    height: 40px;
    border-radius: 50%;
    align-items: right;
}

.carrito img {
    height: 40px;
    border-radius: 50%;
    align-items: right;
}

.buscador {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: honeydew;
    width: 40%;
}

.buscador-hola {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 97%;
}

.buscador-hola input {
    width: 100%;
    border: none !important;
    
}

.slide {
    width: 100%;
    height: 100vh;
    background-color: #d0d3d9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-iconos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.bloque-1 {
    color: #d0d3d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85px;
}

.bloque-2 {
    color: #d0d3d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85px;
}

.bloque-3 {
    color: #d0d3d9 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85px;
}