* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 100px;
    background-color: #a577d4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-logo {
    height: auto;
    width: 250px;
}

a img {
    height: 40px;
    border-radius: 50%;
    
}

button {
    width: 40%;
    height: 30px;

}

button.hover {
    color: grey;
    transform: matrix();
}

.login {
    height: 40px;
    border-radius: 50%;
    align-items: right;
}